@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@media (max-width:480px) {
    .cont{
        width: 100vw !important;
    }
    .mobile{
        width: 100vw !important;
        flex-direction: column !important;
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: aqua !important;

    }

    div{
        width: 100% !important;
    }
}